{template 'common/header'}

<ul class="nav nav-tabs">
    <li class="{php echo $_GPC['type']===null?'active':''}"><a
            href="{php echo $this->createWebUrl('user_manager').'&page=1&activity_id='.$_GPC['activity_id']}">全部</a></li>
    <li class="{php echo $_GPC['type']==='1'?'active':''}"><a
            href="{php echo $this->createWebUrl('user_manager').'&type=1&page=1&activity_id='.$_GPC['activity_id']}">已提交</a></li>
    <li class="{php echo $_GPC['type']==='0'?'active':''}"><a
            href="{php echo $this->createWebUrl('user_manager').'&type=0&page=1&activity_id='.$_GPC['activity_id']}">未提交</a></li>
</ul>

<!--选择活动-->
<table class="we7-table table-condensed">
    <thead>
    <tr>
        <th>头像</th>
        <th>昵称</th>
        <th>openid</th>
        <th>地址</th>
        <th>是否提交</th>
        <th>提交时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {loop $user_list $index $user}
    <tr>
        <td><img width="40" class="img-circle" src="{$user['avatar']}" alt=""></td>
        <td>{$user['nickname']}</td>
        <td><span class="label label-danger">{$user['openid']}</span></td>
        <td>{$user['address']}</td>
        <td>
            {php echo $user['submit_data']===false?'未提交':'以提交'}
            {if $user['submit_data']!==false}丨
            <button data-toggle="collapse" data-target="#{php echo 'collapseExample'.$index}" aria-expanded="false"
                    class="btn btn-success btn-xs">查看答题情况
            </button>
            {/if}
            <div class="collapse" id="{php echo 'collapseExample'.$index}">
                <div class="well">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>题目</th>
                            <th>反馈</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $user['message_data'] $messageKey $message}
                        <tr>
                            <td>{$messageKey}</td>
                            {loop $message $data}
                            <td>
                                {$data}
                            </td>
                            {/loop}
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
        <td>
            {php echo $user['submit_data']===false?'':date('Y-m-d',$user['submit_data']['create_time'])}
        </td>
        <td>
            <a class="btn btn-danger btn-xs"
               href="{php echo $this->createWebUrl('user_manager').'&action=delete&id='.$user['id'].'&activity_id='.$_GPC['activity_id'].'&page='.$_GPC['page']}.'&type='.$_GPC['type']">
                删除
            </a>
        </td>
    </tr>
    {/loop}
    </tbody>
</table>

<nav aria-label="Page navigation" style="text-align: center">
    <ul class="pagination">
        {loop $page_arr $item}
        <li class="{php echo $_GPC['page']===strval($item)?'active':''}">
            {if $_GPC['type']===null}
            <a href="{php echo $this->createWebUrl('user_manager').'&page='.$item.'&activity_id='.$_GPC['activity_id']}">{$item}</a>
            {else}
            <a href="{php echo $this->createWebUrl('user_manager').'&page='.$item.'&type='.$_GPC['type'].'&activity_id='.$_GPC['activity_id']}">{$item}</a>
            {/if}
        </li>
        {/loop}
    </ul>
</nav>

{template 'common/footer'}