{template 'common/header'}

<div>
    <div class="row">
        <div class="col-md-6 text">
            {$activity['square']}
        </div>
        <div class="col-md-6 text-right text">
            {$activity['no_square']}
        </div>
    </div>

    <div class="progress" style="height: 50px">
        <div class="progress-bar" style="width: {$percent['argue']}%;background: {$activity['square_color']}">
            <span class="text">{$percent['argue']}%</span>
        </div>
        <div class="progress-bar" style="width: {$percent['no_argue']}%;background: {$activity['no_square_color']}">
            <span class="text">{$percent['no_argue']}%</span>
        </div>
    </div>
</div>

<style>
    .text {
        font-size: 20px;
    }
</style>

<div class="row">
    {loop $user_list $item}
    <!--正方-->
    <div class="col-md-6">
        <table class="we7-table">
            <thead>
            <tr>
                <th>头像</th>
                <th>昵称</th>
                <th width="200">观点</th>
                <th>赞次数</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            {loop $item $user}
            <tr>
                <td><img width="40" class="img-circle" src="{$user['avatar']}" alt=""></td>
                <td width="70" style="font-size: 10px">{$user['nickname']}</td>
                <td style="font-size: 13px">{$user['comment']}</td>
                <td>{$user['like']}</td>
                <td>
                    <div class="btn-group btn-group-vertical btn-group-xs">
                        <button class="btn btn-success" data-toggle="modal" data-target="#red_packet_{$user['id']}">
                            发送现金红包
                        </button>
                        <!--红包金额模态框-->
                        <div class="modal fade" id="red_packet_{$user['id']}" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">填写红包金额</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="alert alert-warning" role="alert">
                                            当前奖金池中剩余 <strong>{$activity['bonus_pools']}</strong> 元
                                        </div>
                                        <div class="input-group">
                                            <input type="number" class="form-control input_red_packet_{$user['id']}">
                                            <span class="input-group-addon">元</span>
                                        </div>
                                        <span id="helpBlock" class="help-block">金额范围在1~200元之间，在此之外设置无效</span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary send_red_packet_{$user['id']}">确定
                                        </button>
                                        <script>
                                            $(".send_red_packet_{$user['id']}").click(() => {
                                                const money = Number.parseInt($(".input_red_packet_{$user['id']}").val());

                                                if (money === 0 || Number.isNaN(money)) {
                                                    alert('不能填写0或空值');
                                                    return;
                                                }

                                                if (money > Number.parseInt("{$activity['bonus_pools']}")) {
                                                    alert('金额不能超过奖金池金额');
                                                    return;
                                                }
                                                if (!confirm('确定发送红包吗?')) return;
                                                window.location.href =
                                                    "{php echo $this->createWebUrl('user').'&'.http_build_query(['action'=>'red_packet','activity_id'=>$_GPC['activity_id'],'user_id'=>$user['id'],'money'=>''])}" + money
                                            })
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-danger delete_{$user['id']}">删除</button>
                        <script>
                            $(".delete_{$user['id']}").click(() => {
                                if (!confirm('确定删除吗？')) return;
                                window.location.href = "{php echo $this->createWebUrl('user').'&'.http_build_query(['action'=>'delete','activity_id'=>$_GPC['activity_id'],'user_id'=>$user['id']])}"
                            })
                        </script>
                    </div>
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
    </div>
    {/loop}
</div>


{template 'common/footer'}