{template 'common/header'}

<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('bookrack_manager')}">所有书架</a></li>
    <li><a href="{php echo $this->createWebUrl('bookrack_manager').'&action=add'}">添加书架</a></li>
</ul>

<h2>正在操作馆别编号为：<code>{$guild_id}</code></h2>

{loop $bookrack_list  $index $bookrack}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">书架编号：{$bookrack['id']}
            <button class="btn btn-link bookrack_delete_{$index}">删除书架</button>
        </h3>
        <script>
            $(".bookrack_delete_{$index}").click(function () {
                if (!confirm('确定删除吗?')) return;
                window.location.href = "{php echo $this->createWebUrl('bookrack_manager').'&action=delete&id='.$bookrack['id']}"
            })
        </script>
    </div>

    <div class="panel-body">
        <div class="btn-group">
            {loop $type_list $type}
            <button
                    data-color="{$type['color']}"
                    class="btn type_button_{$index}"
                    data-type="{$type[id]}"
                    style="background: {$type['color']};color: #fff">
                {$type['name']}
            </button>
            {/loop}
            <button class="btn btn-default type_btn_restore_{$index}">还原</button>

        </div>
        <hr>
        <div class="book_box book_box_{$index}">
            {loop $bookrack['books'] $book}
            <span
                    data-color="{$book['type']['color']}"
                    data-id="{$book['id']}"
                    data-type="{php echo $book['type']['id']}"
                    style="background: {$book['type']['color']}">
                {$book['id']}
            </span>
            {/loop}
        </div>
        <!--点击按钮触发-->
        <script>
            /*点击了还原按钮*/
            $(".type_btn_restore_{$index}").click(function () {
                $(".book_box_{$index} span").each((index, element) => {
                    $(element).css('background', $(element).attr('data-color'));
                });
            });

            $(function () {
                $("[data-toggle='popover']").popover(); //激活

                $(".book_box_{$index} span").each((index, element) => {
                    $(element).popover({
                        trigger: 'click',
                        placement: 'auto',
                        title: '请选择类型',
                        html: true, //必须设置才能使用html
                        content: `
                            <div style="width: 150px">
                                <select class="form-control select_type">
                                    <option value="">选择类型</option>
                                    {loop $type_list $type}
                                    <option value="{$type['id']}">{$type['name']}</option>
                                    {/loop}
                                </select>
                            </div>`
                    });

                    $(element).on('shown.bs.popover', function () {
                        $(".select_type").change(function () {
                            const value = $(this).val();

                            $.ajax({
                                method: 'post',
                                url: "{php echo $this->createWebUrl('book_manager').'&action=update_type'}",
                                data: {
                                    book_id: $(element).attr('data-id'),
                                    type_id: value,
                                    bookrack_id: "{$bookrack['id']}",
                                },
                                success(res) {
                                    const data = JSON.parse(res);
                                    $(element).css({
                                        'background': data.data.type.color,
                                        'color': '#fff'
                                    });

                                    $(element).attr({
                                        'data-color': data.data.type.color,
                                        'data-type': data.data.type.id
                                    });
                                    $(element).popover('hide');
                                }
                            })
                        })
                    })
                });
            });

            $('.type_button_{$index}').each((index, element) => {
                $(element).click(function () {
                    $(".book_box_{$index}").children('span').css({
                        'background': '#fff',
                        'color': '#000'
                    });
                    $(".book_box_{$index}").children(`span[data-type='${$(this).attr('data-type')}']`).css({
                            'background': $(this).attr('data-color'),
                            'color': '#fff'
                        }
                    );
                })
            });
        </script>
    </div>
</div>
{/loop}

<style>
    .book_box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .book_box span {
        border-radius: 3px;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        margin-bottom: 5px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 5px;
        color: #000;
        cursor: pointer;
        border: 1px solid #eee;
    }

    .book_box span:hover {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        border: none;
    }

</style>


{template 'common/footer'}