{template 'common/header'}

<script src="{php echo MODULE_URL.'lib/web_export.js'}"></script>

<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('bookrack_manager')}">所有书架</a></li>
    <li><a href="{php echo $this->createWebUrl('bookrack_manager').'&action=add'}">添加书架</a></li>
    <li><a href="javascript:;" data-toggle="modal" data-target="#add_batch_bookrack">批量添加书架</a></li>
    <!-- Modal -->
    <div class="modal fade" id="add_batch_bookrack" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">批量添加书架</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" method="post" action="{php echo $this->createWebUrl('bookrack_manager').'&action=batch'}">
                        <div class="form-group">
                            <label class="sr-only" for="min">最小值</label>
                            <input type="number" name="min" class="form-control" id="min" placeholder="最小值">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="max">最大值</label>
                            <input type="number" name="max" class="form-control" id="max" placeholder="最大值">
                        </div>
                        <button type="submit" class="btn btn-success">创建</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ul>

<h2>正在操作馆别编号为：<code>{$_GPC['guild_id']}</code>
    <button class="btn btn-success export">导出为excel</button>
</h2>
<script>
    $(".export").click(() => {
        let json = `{php echo json_encode($bookrack_list)}`;
        tableToExcel(JSON.parse(json), {guild_name: "{$guild['name']}", guild_id: "{$_GPC['guild_id']}"});
    })
</script>

{loop $bookrack_list  $index $bookrack}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">书架编号：{$bookrack['id']}
            <div class="btn-group">
                <button class="btn btn-link bookrack_empty_{$index}">清空书架</button>
                <button class="btn btn-link export_bookrack_{$index}">导出书架</button>
                <button class="btn btn-link bookrack_delete_{$index}">删除书架</button>
            </div>
        </h3>
        <script>
            /*清空书架*/
            $(".bookrack_empty_{$index}").click(function () {
                if (!confirm('确定清空吗?')) return;
                window.location.href = "{php echo $this->createWebUrl('bookrack_manager').'&action=empty&bookrack_id='.$bookrack['id']}"
            });

            $(".export_bookrack_{$index}").click(function () {
                tableToExcel([JSON.parse(`{php echo json_encode($bookrack)}`)],{guild_name:"{$guild['name']}",guild_id:"{$_GPC['guild_id']}"})
            });

            /*删除书架*/
            $(".bookrack_delete_{$index}").click(function () {
                if (!confirm('确定删除吗?')) return;
                window.location.href = "{php echo $this->createWebUrl('bookrack_manager').'&action=delete&id='.$bookrack['id']}"
            })
        </script>
    </div>

    <div class="panel-body">
        <div class="btn-group">
            {loop $type_list $type}
            <button
                    data-color="{$type['color']}"
                    class="btn type_button_{$index}"
                    data-type="{$type[id]}"
                    style="background: {$type['color']};color: #fff">
                {$type['name']}
            </button>
            {/loop}
            <button class="btn btn-default type_btn_restore_{$index}">统计</button>
        </div>
        <hr>
        <div class="book_box book_box_{$index}">
            {loop $bookrack['books'] $book}
            <span
                    data-color="{$book['type']['color']}"
                    data-id="{$book['id']}"
                    data-type="{php echo $book['type']['id']}"
                    style="background: {$book['type']['color']}">
                {$book['id']}
            </span>
            {/loop}
        </div>
        <!--点击按钮触发-->
        <script>
            let current_select_type_id{$index} = '';

            /*点击了还原按钮*/
            $(".type_btn_restore_{$index}").click(function () {
                $(".book_box_{$index} span").each((index, element) => {
                    $(element).css('background', $(element).attr('data-color'));
                });

                current_select_type_id{$index} = '';
            });

            /*按钮组点击*/
            $('.type_button_{$index}').each((index, element) => {
                $(element).click(function () {
                    $(".book_box_{$index}").children('span').css({
                        'background': '#fff',
                        'color': '#000'
                    });
                    $(".book_box_{$index}").children(`span[data-type='${$(this).attr('data-type')}']`).css({
                            'background': $(this).attr('data-color'),
                            'color': '#fff'
                        }
                    );
                    current_select_type_id{$index} = $(this).attr('data-type');
                })
            });

            /*书本点击*/
            $(".book_box_{$index} span").each((index, span) => {
                $(span).click(function () {
                    if(current_select_type_id{$index}===''){
                        console.log('当前未选中按钮');
                        return;
                    }

                    $.ajax({
                        method:'post',
                        url:"{php echo $this->createWebUrl('book_manager')}",
                        data:{
                            action:'update_type',
                            guild_id:"{$_GPC['guild_id']}",
                            bookrack_id:"{$bookrack['id']}",
                            book_id:$(this).attr('data-id'),
                            type_id:current_select_type_id{$index}
                        },
                        success:(res)=>{
                            const {type} = JSON.parse(res).data;
                            $(this).css({
                                'background':type.color,
                                'color':'#000'
                            });
                            $(this).attr('data-color',type.color);
                            $(this).attr('data-type',type.id);
                        }
                    })
                })
            });
        </script>
    </div>
</div>
{/loop}

<style>
    .book_box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .book_box span {
        border-radius: 3px;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        margin-bottom: 5px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 5px;
        color: #000;
        cursor: pointer;
        border: 1px solid #eee;
    }

    .book_box span:hover {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        border: none;
    }

</style>


{template 'common/footer'}