{template 'common/header'}

<div class="alert alert-info">
    总提交人数为：<strong>{php echo count($user_list)}</strong>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li class="{php echo $_GPC['chart']===null?'active':''}">
        <a href="{php echo $this->createWebUrl('statistics').'&activity_id='.$_GPC['activity_id']}">
            <img width="35" src="{php echo MODULE_URL.'/icon/huabanfuben.png'}" alt="">
        </a>
    </li>
    <li class="{php echo $_GPC['chart']==='pie'?'active':''}">
        <a href="{php echo $this->createWebUrl('statistics').'&activity_id='.$_GPC['activity_id'].'&chart=pie'}">
            <img width="35" src="{php echo MODULE_URL.'/icon/bingtu.png'}" alt="">
        </a>
    </li>
</ul>

{loop $parent_list $questionKey $question}
<div class="panel panel-default">
    <div class="panel-heading">{$question['title']}</div>
    <div class="panel-body">
        {if $question['type']!=='3'}
        <div id="main{$questionKey}" style="height:300px;"></div>
        <!--查看备注-->
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{$questionKey}">查看所有备注</button>
        <div class="collapse" id="collapseExample{$questionKey}">
            <div class="well">
                <div class="list-group">
                    {loop $remark_list[$question['id']] $user_remake}
                    <a href="javascript:;" class="list-group-item">
                        <p class="list-group-item-heading">
                            <img width="35" class="img-circle" src="{$user_remake['avatar']}">
                            {$user_remake['nickname']}
                            <span class="label label-success">他的选择</span>{$user_remake['title']}
                        </p>
                        <h4 class="list-group-item-text">
                            {$user_remake['remake']}
                        </h4>
                    </a>
                    {/loop}
                </div>
            </div>
        </div>
        <script type="text/javascript">
            require(['https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts-en.min.js'], (echarts) => {
                const pie_echarts = echarts.init(document.getElementById('main{$questionKey}'));

                /*扇形数据*/
                let pie_data = [/*{loop $question['children'] $children}*/
                                {value: "{$children['select_num']}", name: "{$children['title']}"},
                                /*{/loop}*/];

                /*最大扇形块*/
                const max_pie = pie_data.reduce((init, currentValue) => {
                    if (Number.parseInt(init.value) > Number.parseInt(currentValue.value)) {
                        return init;
                    }
                    return currentValue;
                });

                /*{if $_GPC['chart']==='pie'}*/
                pie_echarts.setOption({
                    title: {
                        text: "{$question['title']}"
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b}: {c} ({d}%)"
                    },
                    series: [
                        {
                            name: 'feedback_pie',
                            type: 'pie',
                            radius: ['35%', '70%'],
                            avoidLabelOverlap: false,
                            label: {
                                normal: {
                                    show: true,
                                    position: 'outside',
                                    formatter: (e) => {
                                        return `${e.data.name}(${e.data.value})，占比：${e.percent}%`
                                    }
                                },
                                emphasis: {
                                    show: true,
                                    textStyle: {
                                        fontSize: '15',
                                        fontWeight: 'bold'
                                    }
                                },
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                    length: 20,
                                    length2: 20,
                                    lineStyle: {
                                        color: '#333'
                                    }
                                }
                            },
                            data: pie_data
                        }
                    ]
                });

                /*设置饼图默认选中的块，此块为饼图最大值的块*/
                pie_echarts.dispatchAction({
                    type: 'highlight',
                    seriesName: 'feedback_pie',
                    name: max_pie.name
                });

                pie_echarts.on('mouseover', (e) => {
                    //当检测到鼠标悬停事件，取消默认选中高亮
                    pie_echarts.dispatchAction({
                        type: 'downplay',
                        seriesName: 'feedback_pie',
                        name: max_pie.name
                    });
                    //高亮显示悬停的那块
                    pie_echarts.dispatchAction({
                        type: 'highlight',
                        seriesName: 'feedback_pie',
                        dataIndex: e.dataIndex
                    });
                });

                pie_echarts.on('mouseout', (e) => {
                    if (max_pie.name !== e.name) {
                        //将之前高亮的取消高亮
                        pie_echarts.dispatchAction({
                            type: 'downplay',
                            seriesName: 'feedback_pie',
                            dataIndex: e.dataIndex
                        });

                        //检测鼠标移出后显示之前默认高亮的那块
                        pie_echarts.dispatchAction({
                            type: 'highlight',
                            seriesName: 'feedback_pie',
                            name: max_pie.name
                        });
                    }
                });

                /*{else}*/
                echarts.init(document.getElementById('main{$questionKey}')).setOption({
                    title: {
                        text: "{$question['title']}"
                    },
                    tooltip: {},
                    xAxis: {},
                    yAxis: {
                        type: 'category',
                        data: [
                            /*{loop $question['children'] $children}*/
                            `{$children['title']}({$children['select_num']})`,
                            /*{/loop}*/
                        ]
                    },
                    series: [{
                        name: '选择量',
                        type: 'bar',
                        data: [
                            /*{loop $question['children'] $children}*/
                            "{$children['select_num']}",
                            /*{/loop}*/
                        ],
                        //配置样式
                        itemStyle: {
                            //通常情况下：
                            normal: {
                                //每个柱子的颜色即为colorList数组里的每一项，如果柱子数目多于colorList的长度，则柱子颜色循环使用该数组
                                color: function (params) {
                                    let colorList = ['#19be6b', '#ff9900', '#ed4014', '#2db7f5'];
                                    return colorList[params.dataIndex];
                                },
                                label: {
                                    formatter: "{c}",
                                    show: true,
                                    position: "right",
                                },
                            },
                            //鼠标悬停时：
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },
                    }]
                });
                /*{/if}*/
            });
        </script>
        {else}
        {loop $text_list[$question['id']] $text}
        <p>{$text}</p>
        <hr>
        {/loop}
        {/if}
    </div>
</div>

{/loop}
{template 'common/footer'}
