{template 'common/header'}

<div class="alert alert-info">
    此处为选择题和填空题的统计分析，总提交人数为：<strong>{php echo count($user_list)}</strong>
</div>

{loop $parent_list $questionKey $question}
{if $question['type']!=='3'}
<div class="panel panel-default">
    <div class="panel-heading">{$question['title']}</div>
    <div class="panel-body">

        <div id="main{$questionKey}" style="width: 1000px;height:300px;"></div>
        <script type="text/javascript">
            require(['https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts-en.min.js'], (echarts) => {
                echarts.init(document.getElementById('main{$questionKey}')).setOption({
                    title: {
                        text: "{$question['title']}"
                    },
                    tooltip: {},
                    legend: {
                        data: ['选择量']
                    },
                    xAxis: {},

                    yAxis: {
                        type: 'category',
                        data: [
                            /*{loop $question['children'] $children}*/
                            "{$children['title']}",
                            /*{/loop}*/
                        ]
                    },
                    series: [{
                        name: '选择量',
                        type: 'bar',
                        data: [
                            /*{loop $question['children'] $children}*/
                            "{$children['select_num']}",
                            /*{/loop}*/
                        ],
                        //配置样式
                        itemStyle: {
                            //通常情况下：
                            normal:{
                                //每个柱子的颜色即为colorList数组里的每一项，如果柱子数目多于colorList的长度，则柱子颜色循环使用该数组
                                color: function (params){
                                    var colorList = ['#19be6b','#ff9900','#ed4014','#2db7f5'];
                                    return colorList[params.dataIndex];
                                }
                            },
                            //鼠标悬停时：
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },
                    }]
                });
            });
        </script>

    </div>
</div>
{/if}
{/loop}
{template 'common/footer'}
