{template 'header'}
<img style="width:100%" src="{php echo tomedia($system_setting['image'])}" alt="">

<form class="message" style="padding: 10px" action="{php echo $this->createMobileUrl('submit')}" method="post">
    {loop $question_list $index $question}
    <div class="card">
        <div class="card-title">
            {if $question['is_required']==='1'}<i class="weui-icon-warn"></i>{/if}{$question['title']}
        </div>
        <div class="card-body">
            <!--单选框-->
            {if $question['type']==='1'}
            <div class="weui-cells weui-cells_radio">
                {loop $question['children_list'] $key $children}
                <label class="weui-cell weui-check__label" for="{php echo $index.'-'.$key}">
                    <div class="weui-cell__bd"><p>{$children['title']}</p></div>
                    <div class="weui-cell__ft">
                        <input type="radio" class="weui-check"
                               name="{php echo 'radio-'.$question['id']}"
                               value="{$children['id']}"
                               id="{php echo $index.'-'.$key}">
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
                {/loop}
                {if $question['is_open_remark']==='1'}

                <textarea class="weui-textarea" placeholder="备注(选填)" rows="2"
                          name="{php echo 'remark-'.$question['id']}"></textarea>
                {/if}
            </div>
            {elseif $question['type']==='2'}
            <!--多选框-->
            <div class="weui-cells weui-cells_checkbox">
                {loop $question['children_list'] $key $children}
                <label class="weui-cell weui-check__label" for="{php echo $index.'-'.$key}">
                    <div class="weui-cell__hd">
                        <input type="checkbox"
                               class="weui-check"
                               name="{php echo 'check-'.$question['id'].'[]'}"
                               value="{$children['id']}"
                               id="{php echo $index.'-'.$key}">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>{$children['title']}</p>
                    </div>
                </label>
                {/loop}
                {if $question['is_open_remark']==='1'}
                <textarea class="weui-textarea" placeholder="备注(选填)" name="{php echo 'remark-'.$question['id']}"
                          rows="2"></textarea>
                {/if}
            </div>
            {else}
            <!--填空题-->
            <textarea class="weui-textarea" name="{php echo 'text-'.$question['id']}" placeholder="请输入内容" rows="5"></textarea>
            {/if}
        </div>
    </div>
    {/loop}

    <button type="submit" class="weui-btn weui-btn_primary">提交</button>
</form>

<style>
    .card {
        margin-bottom: 10px;
        padding: 10px;
        background: #fff;
        box-shadow: 1px 1px 5px #d2d2d2;
        border-radius: 10px;
    }
</style>

<script>
    $(function(){
        $(".message").validate({
            errorPlacement(error, element) {
                error.appendTo(element.parent().parent());
            },
            rules:{
                /*{loop $question_list $index $question}*/
                    //单选题
                    /*{if $question['type']==='1'}*/
                           "radio-{$question['id']}":{
                                //是否必须
                                /*{if $question['is_required']==='1'}*/required : true,/*{/if}*/
                           },
                    /*{/if}*/
                    /*{if $question['type']==='2'}*/
                        "check-{$question['id']}[]":{
                            //是否必须
                            /*{if $question['is_required']==='1'}*/required : true,/*{/if}*/
                        },
                    /*{/if}*/
                    /*{if $question['type']==='3'}*/
                    "text-{$question['id']}":{
                        //是否必须
                        /*{if $question['is_required']==='1'}*/required : true,/*{/if}*/
                    },
                    /*{/if}*/
                /*{/loop}*/
            },
            messages:{
                /*{loop $question_list $index $question}*/
                    //单选题
                    /*{if $question['type']==='1'}*/
                    "radio-{$question['id']}":{
                        //是否必须
                        /*{if $question['is_required']==='1'}*/required : '请选择一项',/*{/if}*/
                    },
                    /*{/if}*/
                    /*{if $question['type']==='2'}*/
                    "check-{$question['id']}[]":{
                        //是否必须
                        /*{if $question['is_required']==='1'}*/required : '请至少选择一项',/*{/if}*/
                    },
                    /*{/if}*/
                    /*{if $question['type']==='3'}*/
                    "text-{$question['id']}":{
                        //是否必须
                        /*{if $question['is_required']==='1'}*/required : '此项不能留空',/*{/if}*/
                    },
                    /*{/if}*/
                /*{/loop}*/
            },
            debug:false
        });
    });
</script>
{template 'footer'}