{template 'common/header'}
<link rel="stylesheet" href="{php echo MODULE_URL.'lib/layer.css'}">

<!--所有文件公共方法-->

<script>
    //图标对象
    const icon = {
        like: "{php echo MODULE_URL.'lib/icon/like.png'}",
        active_like: "{php echo MODULE_URL.'lib/icon/like-active-.png'}",
        dislike: "{php echo MODULE_URL.'lib/icon/dislike.png'}",
        active_dislike: "{php echo MODULE_URL.'lib/icon/dislike-active-.png'}"
    };

    //ajax请求
    function request(url, data = {}, method = 'get') {
        return new Promise(resolve => {
            $.ajax({
                url,
                data,
                method,
                success(res) {
                    resolve(res);
                }
            })
        })
    }
</script>

<style>
    body {
        position: relative;
        overflow-x: hidden;
        width: 100%;
    }
</style>