{template 'header'}

<div id="app">
    <div @click="enter_activity(item)" class="card" v-for="item in activity_list" v-cloak>
        <!--蒙版，用于提示是否开始还是是否结束-->
        <div v-show="item.start_time_timestamp > current_time || item.end_time_timestamp < current_time"
             class="masking">
            <p class="hint" v-show="item.start_time_timestamp > current_time">暂未开始</p>
            <p class="hint" v-show="item.end_time_timestamp < current_time">活动已结束</p>
        </div>

        <p class="topic"><img width="18" src="{php echo MODULE_URL.'lib/icon/huo.png'}" alt="">热议话题</p>
        <p class="join">{{item.count}}人已参与</p>
        <h4 class="title">{{item.title}}</h4>
        <div class="text-center" style="margin: 30px 0">
            <span class="box square"
                  :style="{'background':item.square_color,'box-shadow':'-1px 1px 3px '+item.square_color}">
                {{item.square}}
            </span>
            &nbsp;
            <span class="vs">vs</span>
            &nbsp;
            <span class="box no_square"
                  :style="{'background':item.no_square_color,'box-shadow':'1px 1px 3px '+item.no_square_color}">
                {{item.no_square}}
            </span>
        </div>
        <div class="text-right time">
            截止时间：{{item.end_time}}
        </div>
    </div>
</div>

<script>
    require(['https://cdn.jsdelivr.net/npm/vue/dist/vue.js', "{php echo MODULE_URL.'lib/layer.js'}"], (Vue, layer) => {
        new Vue({
            el: '#app',
            data: {
                activity_list: [],
                current_time: Number.parseInt(new Date().getTime() / 1000)
            },
            methods: {
                //进入活动
                enter_activity(activity) {
                    const index = layer.open({type: 2});
                    if (activity.start_time_timestamp > this.current_time) {
                        layer.open({
                            content: "活动暂未开始", skin: 'msg', time: 2
                        });
                        layer.close(index);
                        return;
                    }
                    if (activity.end_time_timestamp < this.current_time) {
                        layer.open({
                            content: "活动已结束", skin: 'msg', time: 2
                        });
                        layer.close(index);
                        return;
                    }
                    window.location.href = "{php echo $this->createMobileUrl('index').'&template=activity&activity_id='}" + activity.id;
                    layer.close(index);
                }
            },
            mounted() {
                request("{php echo $this->createMobileUrl('activity')}", {
                    action: 'get_activity_list'
                }, 'post').then(data => {
                    this.activity_list = JSON.parse(data);
                    console.log(this.activity_list);
                });
            }
        })
    })
</script>

<style>
    .vs {
        font-style: oblique;
        font-size: 35px;
        font-weight: bold;
    }

    .box {
        background: #fff;
        color: #fff;
        padding: 13px 23px;
        border-radius: 25px;
        font-size: 19px;
        font-weight: bold;

    }

    .square {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .no_square {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .card {
        margin: 10px;
        padding: 20px;
        background: #fff;
        box-shadow: 1px 5px 5px #d2d2d2;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }

    .card .masking {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.82);
        left: 0;
        top: 0;
    }

    .card .masking .hint {
        font-size: 40px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        margin-top: 90px;
    }

    .card .topic {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .card .join {
        background: rgba(238, 238, 238, 0.47);
        font-size: 9px;
        position: absolute;
        right: 0;
        top: 5px;
        padding: 0 5px;
        border-radius: 10px 0 0 10px;
    }

    .card .title {
        font-size: 20px;
        font-weight: bold;
    }

    .card .time {
        font-size: 10px;
        margin: 0;
        padding: 0;
        color: #515a6e;
    }
</style>

{template 'common/footer'}