{template 'common/header'}
<style type="text/css">
	.shoudao {
		color: #fff;
		background-color: green;
		border-radius: 3px;
		text-align: center;
	}
	.weishou {
		color: #fff;
		background-color: brown;
		border-radius: 3px;
		text-align: center;
	}
	.xianshang {
		color: #fff;
		background-color: dodgerblue;
		border-radius: 3px;
		text-align: center;
	}
	.xianxia {
		color: #fff;
		background-color: yellowgreen;
		border-radius: 3px;
		text-align: center;
	}
</style>

<script src="{php echo MODULE_URL.'lib/web_export_1.js'}"></script>
<button class="btn btn-success export">导出</button>
<script>
	$(".export").click(function () {
		$.ajax({
			method:'post',
			url:`{php echo $this->createWebUrl('getWebDakuan')}`,
			success(res){
				let json = JSON.parse(res);
				tableToExcel(json);
			}
		})
	})
</script>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">捐献记录（总计：{$sum}元）捐献人数：{php echo count($user_list)}</h3>
	</div>
	<div class="panel-body">
		<form action="{url 'site/entry/Juanxianjilu',array('m'=>'yyf_company')}" method="post"> 
			<input type="text" name="name" placeholder="请输入姓名" />
			<input type="text" name="tel" placeholder="请输入电话" />
			<button>查询</button>
		</form>
		<form action="" method="post" class="form-horizontal form"> <input type="hidden" name="storeid" value="">
			<div class="table-responsive panel-body">
				<table class="table table-hover">
					<thead class="navbar-inner">
						<tr>
							<th>id</th>
							<th>微信头像</th>
							<th width="200">昵称</th>
							<th>打款总金额</th>
							<th>姓名/电话</th>
							<th>个人信息</th>
							<th>支付相关</th>
							<th>状态</th>
							<!-- <th style="text-align:right;">操作</th> -->
						</tr>
					</thead>
					<tbody id="level-list"> 
						{loop $user_list $index $item}
						<tr>
							<td>
								<div class="type-parent">{$index}</div>
							</td>
							<td>
								<div class="type-parent"><img src="{$item['user']['photo']}" style="width: 50px;height: 50px;"></div>
							</td>
							<td>
								<div class="type-parent">{$item['user']['nickname']}</div>
							</td>
							<td>
								<span class="label label-danger">￥{$item['price']}</span>
							</td>
							<td>
								<div class="type-parent">姓名：{$item['user']['name']}</div>
								<div class="type-parent">电话：{$item['user']['tle']}</div>
							</td>
							<td>
								<div class="type-parent">年级：{$item['user']['grade']}</div>
								<div class="type-parent">专业：{$item['user']['zhuanye']}</div>
								<div class="type-parent">单位：{$item['user']['unit']}</div>
								<div class="type-parent">职务：{$item['user']['Identity']}</div>
							</td>
							<td>
								<div class="type-parent">单号：{$item['order']['ordernumlist']}</div>
								<div class="type-parent">时间：{$item['order']['carttime']}</div>
							</td>
							<td>
								<div class="type-parent shoudao">
									已收到
								</div>
								<div class="type-parent xianxia" style="margin-top: 20px;">
									微信打款
								</div>
							</td>
							<!-- <td style="text-align:right;">
								<a class="btn btn-default btn-sm" href="{url 'site/entry/EditNews',array('id'=>$item['id'],'m'=>'yyf_company')}" title="编辑">改</a>&nbsp;&nbsp;
								<a class="btn btn-default btn-sm" href="{url 'site/entry/Delete',array('id'=>$item['id'],'m'=>'yyf_company')}" onclick="return confirm('确认删除此分类吗？');return false;" title="删除">删</a>
							</td> -->
						</tr> 
						{/loop} 
					</tbody>
				</table>
<!--				{$pager}-->
			</div>
		</form>
	</div>
</div>
{template 'common/footer'}