{template 'common/header'}
<link rel="stylesheet" href="https://cdn.bootcss.com/cropperjs/2.0.0-alpha.1/cropper.min.css">
<style type="text/css">
    .xianzhi {
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
</style>
<!--绘制文字-->
<script>
    function drawText(ctx,color,size,text,left,top){
        ctx.fillStyle = color;
        ctx.font = `${size}"黑体"`;           //设置字体
        ctx.textAlign = "left";                 //设置字体对齐的方式
        ctx.fillText( text, left, top );
    }
</script>

<script language="javascript" src="/addons/yyf_company/template/dayin.js"></script>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">相册查看</h3>
    </div>
    <div class="panel-body">
        <form action="{url 'site/entry/Xiangcechakan',array('m'=>'yyf_company')}" method="post">
            <input type="text" name="select" value=""/>
            <button>查询</button>
        </form>
        <input type="hidden" name="daochu" value="daochu"/>
        <button onclick="myPrint1()">导出全部</button>
        <script language="javascript" type="text/javascript">
            function CheckIsInstall() {
                try {
                    var LODOP = getLodop();
                    if (LODOP.VERSION) {
                        if (LODOP.CVERSION)
                            alert("当前有WEB打印服务C-Lodop可用!\n C-Lodop版本:" + LODOP.CVERSION + "(内含Lodop" + LODOP.VERSION + ")");
                        else
                            alert("本机已成功安装了Lodop控件！\n 版本号:" + LODOP.VERSION);

                    }
                    ;
                } catch (err) {
                }
            };
        </script>
        <span id="list" style="display: none !important;">{$list_json}</span>
        <input id="siteroot" value="{$_W['siteroot']}" type="hidden">

        <script language="javascript" type="text/javascript">
            var LODOP; //声明为全局变量
            function CreateImage(src) {
                LODOP = getLodop();
                LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_打印图片1");
                LODOP.ADD_PRINT_IMAGE(0, 0, 3200, 3800, "<img border='0' src='" + src + "' />");
                // LODOP.ADD_PRINT_IMAGE(0,0,260,150,"<img border='0' src='"+ src +"' />");
                //LODOP.ADD_PRINT_IMAGE(200,150,260,150,"C:/test.jpg"); //本地图片
            };

            function myPreview1() {
                CreateImage();
                LODOP.PREVIEW();
            };

            function myPrint1() {
                var list = $("#list").html();
                var region = eval('(' + list + ')');
                var siteroot = $("#siteroot").val();

                console.log(list);
                console.log(region.length);
                for (var i = 0; i < region.length; i++) {
                    var src = siteroot + "/attachment/hb/" + region[i]['src'];
                    // src += siteroot + "/attachment/hb/" + region[i].src;
                    console.log(src);
                    CreateImage(src);
                    LODOP.PRINT();
                }
            };

        </script>
        <form action="" method="post" class="form-horizontal form"><input type="hidden" name="storeid" value="">
            <div class="table-responsive panel-body">
                <!-- <table class="table table-hover">
                    <thead class="navbar-inner">
                        <tr>
                            <th>id</th>
                            <th>微信头像</th>
                            <th>微信昵称</th>
                            <th>电话</th>
                            <th>相册</th>
                            <th style="text-align:right;">操作</th>
                        </tr>
                    </thead>
                    <tbody id="level-list">
                        {loop $list $index $item}
                        <tr>
                            <td>
                                <div class="type-parent">{$item['id']}</div>
                            </td>
                            <td>
                                <div class="type-parent"><img src="{$item['photo']}" style="width: 50px;height: 50px;"></div>
                            </td>
                            <td>
                                <div class="type-parent">{$item['nickname']}</div>
                            </td>
                            <td>
                                <div class="type-parent">{$item['tle']}</div>
                            </td>
                            <td>
                                <div class="type-parent">
                                    <img src="{$item['poster']}" style="width: 50px;height: 50px;">
                                </div>
                            </td>
                            <td style="text-align:right;">
                                <a class="btn btn-default btn-sm" href="{url 'site/entry/EditNews',array('id'=>$item['id'],'m'=>'yyf_company')}" title="编辑">改</a>&nbsp;&nbsp;
                                <a class="btn btn-default btn-sm" href="{url 'site/entry/Delete',array('id'=>$item['id'],'m'=>'yyf_company')}" onclick="return confirm('确认删除此分类吗？');return false;" title="删除">删</a>
                            </td>
                        </tr>
                        {/loop}
                    </tbody>
                </table> -->
                <div style="width: 100%;display: flex;justify-content: flex-start;align-items: center;flex-wrap: wrap;">
                    {loop $list $index $item}
                    <div style="width: 25%;display: flex;justify-content: center;align-items: center;flex-direction: column;padding: 10px;box-sizing: border-box;">
						<span class="xianzhi " style="width: 100%;">用户名：{php echo $item['user']['nickname']}
                            <!--裁切图片按钮，不开放-->
                            <!--<input data-toggle="modal" data-target="#modalCaijian{$index}" type="button"
                                   class="btn btn-link" value="裁剪图片"/>-->
						</span>
                        <span style="width: 100%;">时间：{$item['carttime']}</span>
                        <div id="haibaoBack{$index}" class="fangda clickHaibao{$index}" data-src="{$item['poster']}"
                             style="background-image: url({$item['poster']});width: 100%;height: 0;overflow: hidden;margin: 0;padding-bottom: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;"></div>
                        <div style="width: 200px">
                            <!--重新合成电脑端海报-->
                            <canvas hidden width="867" height="1145" id="im{$index}"></canvas>
                            <input type="button" value="绘制海报" class="btn btn-success createhaibao{$index}"/>
                            <script>
                                $(".createhaibao{$index}").click( function () {
                                    const c = document.getElementById("im{$index}");
                                    const ctx=c.getContext("2d");
                                    let img=new Image();
                                    img.src="{$item['bg_img']}";

                                    new Promise(resolve => {
                                        img.onload = function(){
                                            ctx.drawImage(img,0,0,img.width,img.height,0,0,867,1145);
                                            drawText(ctx,'black','25px',"{$item['user']['zengyan']}", 140, 185 ); //赠言
                                            drawText(ctx,'red','40px',"{$item['id']}", 620, 375 );//旗手排名
                                            drawText(ctx,'red','20px',"{$item['user']['sum']}km", 630, 325 );/*传递距离*/
                                            drawText(ctx,'black','15px',"{$item['user']['gerenjieshao']}", 140, 480 );/*个人介绍*/
                                            drawText(ctx,'yellow','30px',"{$item['user']['name']}", 150, 350 ); //真实姓名
                                            drawText(ctx,'black','15px',"{$item['user']['tle']}",300,350);//电话
                                            drawText(ctx,'black','15px',"{$item['user']['zhuanye']}",270,385);//专业
                                            drawText(ctx,'black','15px',"{$item['user']['grade']}",130,380);//年份
                                            drawText(ctx,'black','15px',"{$item['user']['unit']}",190,418);//单位
                                            drawText(ctx,'black','15px',"{$item['user']['Identity']}",190,452);//职位
                                            drawText(ctx,'black','15px',"{$item['user']['wxh']}",380,452);//微信
                                            drawText(ctx,'black','15px',"{$item['user']['email']}",560,452);//邮箱
                                            resolve();
                                        };
                                    }).then(()=>{
                                        /*绘制头像*/
                                        new Promise(resolve => {
                                            let avatar = new Image();
                                            avatar.setAttribute('crossOrigin', 'anonymous');
                                            avatar.src = "{$item['user']['photo']}";
                                            avatar.onload = () => {
                                                ctx.drawImage(avatar,0,0,avatar.width,avatar.height,500,330,50,50);
                                                resolve();
                                            };
                                        }).then(()=>{
                                            /*绘制图片*/
                                            let back = new Image();
                                            back.setAttribute('crossOrigin', 'anonymous');
                                            back.src = "{php echo tomedia($item['user']['image'])}";
                                            back.onload = () => {
                                                ctx.drawImage(back,0,0,back.width,back.height,138,538,595,315);
                                                /*绘制成功后获取base64数据*/
                                                $("#haibaoBack{$index}").css('background-image',`url(${c.toDataURL()})`);
                                                $(".createhaibao{$index}").css('display','none');

                                                $(".clickHaibao{$index}").click(function () {
                                                    var html = "";
                                                    html += '<div id="tuceng" style="width: 100%;position: fixed;bottom: 0;top: 0;background-color: rgba(0,0,0,0.6);display: flex;justify-content: center;align-items: center;">';
                                                    html += '<span id="close" style="position: absolute;top: 20px;right: 20px;background-color: rgba(0,0,0,0.5);color: #fff;border-radius: 50%;height: 50px;width: 50px;font-size: 30px;display: flex;justify-content: center;align-items: center;">✕</span>';
                                                    html += `<img src="${c.toDataURL()}" style="height: 85%;">`;
                                                    html += '</div>';
                                                    $("body").append(html);
                                                });
                                            };
                                        })
                                    })
                               })
                            </script>
                        </div>
                        <!-- 裁剪图片模态框 -->
                        <div class="modal fade" id="modalCaijian{$index}" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">裁剪图片</h4>
                                    </div>
                                    <div class="modal-body">
                                        <img id="xiance{$index}"
                                             src="{$item['poster']}" alt="">
                                    </div>
                                    <script>
                                        require(['https://cdn.bootcss.com/cropperjs/2.0.0-alpha.1/cropper.min.js'], (Cropper) => {
                                            let myCropper = new Cropper(document.getElementById('xiance{$index}'), {
                                                viewMode: 0,
                                                aspectRatio: 1 / 2,
                                                minContainerWidth: 600,
                                                minContainerHeight: 500,
                                            });

                                            $(".saveCaijian{$index}").click(function () {
                                                let base64 = myCropper.getCroppedCanvas().toDataURL('image/jpeg');
                                                let fileName = "{$item['user']['nickname']}的海报";//下载的文件名称
                                                let a = document.createElement('a');//创建a标签
                                                a.setAttribute('href', base64);
                                                a.setAttribute('download', fileName);
                                                a.setAttribute('target', '_blank');//打开一个新的窗口
                                                a.setAttribute('id', "downLoad");
                                                if (document.getElementById('downLoad')) {
                                                    document.body.removeChild(document.getElementById('downLoad'));
                                                }
                                                document.body.appendChild(a);
                                                a.click();
                                            })
                                        })
                                    </script>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary saveCaijian{$index}">下载</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/loop}
                </div>
                {$pager}
                <script type="text/javascript">


                    $("body").on("click", "#close", function () {
                        $("#tuceng").remove();
                    });
                </script>
            </div>
        </form>
    </div>
</div>
{template 'common/footer'}