{template 'common/header'}
<script src="{php echo MODULE_URL.'lib/web_export.js'}"></script>

<button class="btn btn-success export">导出</button>
<script>
    $(".export").click(function () {
        tableToExcel(JSON.parse(`{php echo json_encode($copeList)}`));
    })
</script>
<hr>

<table class="we7-table">
    <thead>
    <tr>
        <th>微信信息</th>
        <th>openid</th>
        <th>真实信息</th>
        <th>打款金额</th>
        <th>用途</th>
        <th>打款时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {loop $list $index $item}
    <tr>

        <td>
            <div style="display: flex;flex-direction: column;align-items: center">
                <img width="50" src="{$item['user']['photo']}" alt="">
                <p>{$item['user']['nickname']}</p>

            </div>
        </td>
        <td>
            <span class="label label-success">{$item['user']['openid']}</span>
        </td>
        <td>
            <ul>
                <li>姓名：{$item['name']}</li>
                <li>电话：{$item['tel']}</li>
                <li>微信号：{$item['wx']}</li>
            </ul>
        </td>
        <td>
            {$item['price']}
        </td>
        <td width="200">
            {$item['text']}
        </td>
        <td>{$item['acarttime']}</td>
        <td>
            {if $item['status']==='1'}
            <span class="label label-success">已打款</span>
            {else}
            <span class="label label-danger">未打款</span>
            {/if}
        </td>
        <td>
            <div class="btn-group">
                {if $item['status']==='1'}

                {else}
                <button class="btn btn-success" data-toggle="modal" data-target="#setDakuan_{$index}">已收到</button>
                {/if}
            </div>

            <div class="modal fade" id="setDakuan_{$index}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">设置打款金额</h4>
                        </div>
                        <div class="modal-body">
							<form method="post" action="{php echo $this->createWebUrl('xianxiadakuan')}">
								<input type="text" name="id" hidden value="{$item['id']}">
								<div class="form-group">
									<input type="number" name="price" class="form-control" placeholder="金额">
								</div>
								<button type="submit" class="btn btn-success">提交</button>
							</form>
                        </div>
                    </div>
                </div>
            </div>
        </td>

    </tr>
    {/loop}
    </tbody>
</table>


{template 'common/footer'}