<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$guild['name']}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .book_box {
            display: flex;
            flex-wrap: wrap;
        }

        .book_box .book {
            font-size: 12px;
            border-radius: 5px;
            margin-left: 8px;
            margin-bottom: 8px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
        }

        .export {
            position: fixed;
            bottom: 30px;
            right: 30px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            background: #67C23A;
            color: #fff;
        }

        .tab {
            position: sticky;
            top: 0;
        }

        .tab .example{
            width: 13px;
            height: 13px;
            display: inline-block;
        }

    </style>
</head>
<body>
<div id="app">
    <div class="tab">
        <el-tabs type="border-card" @tab-click="tab_click">
            <el-tab-pane label="统计" name="0"></el-tab-pane>
            <el-tab-pane v-for="(type,index) in type_list" :disabled="type.hidden==='0'" :key="index" :label="type.name" :name="type.id">
                {{type.name}} <span class="example" :style="{'background':type.color}"></span>
            </el-tab-pane>
        </el-tabs>
    </div>


    <el-collapse accordion @change="coll_change">
        <el-collapse-item v-for="(bookrack,index) in bookrack_list" :title="'书架编号为：'+bookrack.id" :name="bookrack.id">
            <div class="book_box">
            <span
                    @click="click_book(book,bookrack.id)"
                    class="book"
                    v-for="book in current.books"
                    :style="{background:book.type.color}">
                {{book.id}}
            </span>
            </div>
        </el-collapse-item>
    </el-collapse>
    <!--将按钮隐藏-->
    <!--<p class="export" @click="export_excel">导出</p>-->
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcss.com/require.js/2.3.6/require.min.js"></script>
<script src="{php echo MODULE_URL.'lib/web_export.js'}"></script>
<script>
    const guild_id = "{$guild['id']}";

    new Vue({
        el: '#app',
        data() {
            return {
                /*所有书架，和所有书*/
                bookrack_list: [],
                /*所有类型*/
                type_list: [],
                current_type_id: '',
                current: {
                    /*当前选中的类型*/
                    type_id: '',
                    /*当前选中的书架内容*/
                    books: [],
                    /*当前选中的书架id*/
                    bookrack_id: ''
                },
            }
        },
        methods: {
            /*导出为execl*/
            export_excel() {
                tableToExcel(this.bookrack_list, {guild_name: "{$guild['name']}", guild_id: "{$guild_id}"})
            },
            request(url, data, method = 'post') {
                return new Promise((resolve => {
                    $.ajax({
                        url,
                        data,
                        method,
                        success(res) {
                            resolve(JSON.parse(res));
                        },
                        error(error) {
                            console.log(error)
                        }
                    })
                }));
            },
            /*手风琴切换监听*/
            async coll_change(bookrack_id) {
                this.current.bookrack_id = bookrack_id;
                if (bookrack_id === '') {
                    return;
                }

                this.current.books = await this.get_books_by_bookrack_id(bookrack_id);
            },
            /*获取书架对应的书籍*/
            async get_books_by_bookrack_id(bookrack_id) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });

                /*获取当前书架的书*/
                let {data} = await this.request("{php echo $this->createMobileUrl('book_manager')}", {
                    action: 'get_all',
                    guild_id,
                    bookrack_id
                });
                loading.close();

                /*如果我已经选中了带颜色的按钮，那么只输出那种颜色的书籍*/
                if (this.current.type_id !== '') {
                    data = data.map(book => {
                        if (!book.type) {
                            return book;
                        }

                        if (book.type.id !== this.current.type_id) {
                            book.type.color = '#fff';
                        }

                        return book;
                    });
                }

                return data;
            },
            /*选中哪个颜色的按钮*/
            async tab_click({name: type_id}) {
                if(type_id==='0'){
                    this.current.type_id = '';
                }else{
                    this.current.type_id = type_id;
                }

                /*重新获取一次书架的书信息*/
                this.current.books = await this.get_books_by_bookrack_id(this.current.bookrack_id);
            },
            /*点击书本，设置书本类型*/
            click_book(book, bookrack_id) {
                if (this.current.type_id === '') {
                    this.$notify.error({
                        title: '请选择一个类型',
                        duration: 2000
                    });
                    return;
                }

                let data = {
                    action: 'update_type',
                    guild_id,
                    bookrack_id,
                    book_id: book.id,
                    type_id: this.current.type_id,
                    is_cancel: 0, //是否是取消，0为更改，1为取消
                };

                if (book.type !== null) {
                    /*当前书本已经有类型，但不是我正在选中的类型*/
                    if (book.type.id !== this.current.type_id) {
                        data.is_cancel = 0;
                    } else {
                        data.is_cancel = 1;
                    }
                } else {
                    /*当前书本类型是个空白*/
                    data.is_cancel = 0;
                }

                this.request("{php echo $this->createMobileUrl('book_manager')}", data).then(({data: type}) => {
                    /*然后通过书本id找到书本*/
                    this.current.books = this.current.books.map(item_book => {
                        if (book.id !== item_book.id) {
                            return item_book;
                        }
                        item_book.type = type;
                        return book;
                    });
                })
            },
        },
        async created() {
            /*获取所有书架*/
            let {data: bookrack_list} = await this.request("{php echo $this->createMobileUrl('bookrack_manager')}", {
                action: 'get_all',
                guild_id
            });
            this.bookrack_list = bookrack_list;

            /*获取所有类型*/
            this.request("{php echo $this->createMobileUrl('type_manager')}", {
                action: 'get_all'
            }).then(({data}) => {
                this.type_list = data;
            });
        }
    })
</script>
</html>