{template 'common/header'}


<h3>所有馆别丨
    <button class="btn btn-success" data-toggle="modal" data-target="#add_guild">添加馆别</button>
</h3>

<!-- Modal -->
<div class="modal fade" id="add_guild" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加馆别</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="{php echo $this->createWebUrl('guild_manager').'&action=add'}">
                    <div class="form-group">
                        <label class="control-label col-sm-2">馆别名称</label>
                        <div class="form-controls col-sm-8">
                            <input class="form-control" type="text" name="guild_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">馆别编号</label>
                        <div class="form-controls col-sm-8">
                            <input class="form-control" type="number" name="guild_id">
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="we7-table">
    <thead>
    <tr>
        <th>馆别名称</th>
        <th>馆别编号</th>
        <th>管理员</th>
        <th>入口二维码</th>
        <th width="100">书架</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {loop $guild_list $index $guild}
    <tr>
        <td>{$guild['name']}</td>
        <td>{$guild['id']}</td>
        <td>
            {if count($guild['user_list'])===0}
            暂无管理员
            {else}
            {loop $guild['user_list'] $user}
            <img width="50" src="{$user['avatar']}" alt="">
            {/loop}
            {/if}
        </td>
        <td width="200">
            <img width="130" src="{$guild['qr_code']}" alt="">
            <div class="input-group">
                <input type="text" class="form-control" name="url_{$index}" value="{$guild['qr_code_url']}">
                <span class="input-group-btn">
                <button class="btn btn-default cope_url_{$index}" type="button">复制</button>
                <script>
                    $(".cope_url_{$index}").click(function () {
                        let copyText = $("input[name='url_{$index}']");//获取对象
                        copyText.select();//选择
                        document.execCommand("Copy");//执行复制
                        alert("复制成功！");
                    })
                </script>
              </span>
            </div>
        </td>
        <td>
            <a href="{php echo $this->createWebUrl('bookrack_manager').'&guild_id='.$guild['id']}" class="btn btn-link">
                查看书架
            </a>
        </td>
        <td>
            <button class="btn btn-danger delete_guild_{$index}">删除</button>
            <script>
                $(".delete_guild_{$index}").click(() => {
                    if (!confirm('确定删除吗?')) return;
                    window.location.href = "{php echo $this->createWebUrl('guild_manager').'&action=delete&id='.$guild['id']}"
                })
            </script>
        </td>
    </tr>
    {/loop}
    </tbody>
</table>

{template 'common/footer'}