{template 'common/header'}

<table class="we7-table">
    <thead>
    <tr>
        <th>头像</th>
        <th>昵称</th>
        <th>openid</th>
        <th>是否通过</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {loop $user_list $user}
    <tr>
        <td><img width="50" src="{$user['avatar']}" alt=""></td>
        <td>{$user['nickname']}</td>
        <td>{$user['openid']}</td>
        <td>{php echo $user['is_pass']==='1'?'通过':'禁止'}</td>
        <td>
            <div class="btn-group">
                <a href="{php echo $this->createWebUrl('user_manager').'&action=update&user_id='.$user['id'].'&is_pass=1'}"
                   class="btn btn-success">
                    通过
                </a>
                <a href="{php echo $this->createWebUrl('user_manager').'&action=update&user_id='.$user['id'].'&is_pass=0'}"
                   class="btn btn-danger">
                    禁止
                </a>
            </div>
        </td>
    </tr>
    {/loop}
    </tbody>
</table>

{template 'common/footer'}