{template 'common/header'}



<table class="we7-table">
    <thead>
    <tr>
        <th>头像</th>
        <th>昵称</th>
        <th>openid</th>
        <th>管理管别</th>
        <th>是否通过</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {loop $user_list $index $user}
    <!-- 设置管别 -->
    <div class="modal fade" id="select_guild_{$index}" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">选择馆别</h4>
                </div>
                <div class="modal-body">

                    <form method="post" action="{php echo $this->createWebUrl('user_manager').'&action=update_guild'}">
                        <input type="text" hidden name="user_id" value="{$user['id']}">
                        <select class="form-control" name="guild_id">
                            {loop $guild_list $guild}
                            <option value="{$guild['id']}">{$guild['name']}</option>
                            {/loop}
                        </select>
                        <hr>
                        <button type="submit" class="btn btn-success">确定</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <tr>
        <td><img width="50" src="{$user['avatar']}" alt=""></td>
        <td>{$user['nickname']}</td>
        <td>{$user['openid']}</td>
        <td>
            {if $user['admin']===null}
            暂未管理丨
            <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#select_guild_{$index}">选择馆别</button>
            {else}
            {$user['guild']['name']}丨
            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#select_guild_{$index}">更换馆别</button>
            {/if}
        </td>
        <td>{php echo $user['is_pass']==='1'?'通过':'禁止'}</td>
        <td>
            <div class="btn-group">
                <a href="{php echo $this->createWebUrl('user_manager').'&action=update&user_id='.$user['id'].'&is_pass=1'}"
                   class="btn btn-success">
                    通过
                </a>
                <a href="{php echo $this->createWebUrl('user_manager').'&action=update&user_id='.$user['id'].'&is_pass=0'}"
                   class="btn btn-danger">
                    禁止
                </a>
            </div>
        </td>
    </tr>
    {/loop}
    </tbody>
</table>

{template 'common/footer'}