<script>
    const comment = {
        props: {
            data: {
                //传入的数据，此对象中应该包含昵称，头像，评论内容
                type: Object,
                default() {
                    return {};
                }
            },
            //当前组件是否是一个评论，false为一个添加组件的按钮，true是一个评论
            is_comment: {
                type: Boolean,
                default: true
            },
            //边框颜色
            color: {
                required: true
            }
        },
        template: `<div>
                        <div :style="{'background':color,'height':'1px'}"></div>
                        <div @click="send_comment" v-if="is_play===false">
                             <img style="display: block;margin: 20px auto" width="30" src="{php echo MODULE_URL.'lib/icon/pinglun.png'}" alt="">
                            <p class="text-center">请说出你的观点</p>
                        </div>
                        <div v-else :style="{padding:'10px'}">
                            <p class="user_setting"><img class="img-circle" width="20" :src="user.avatar" alt="">{{user.nickname}}</p>
                            <p>{{user.comment}}</p>
                            <div class="row">
                                <img @click="like_or_dislike(1,user.id)" width="13" :src="like_icon.link" alt="">
                                <span style="margin-left: 2px">{{like}}</span>
                                <img @click="like_or_dislike(0,user.id)" style="margin-left: 30px"width="13" :src="dislike_icon.link" alt="">
                                <span style="margin-left: 2px">{{dislike}}</span>
                            </div>
                        </div>
                      </div>`,
        data() {
            return {
                user: this.data,
                is_play: this.is_comment,
                like: 0,
                dislike: 0,
                like_icon: {
                    link: icon.like,
                    /*当前登录的用户是否选中喜欢按钮*/
                    is_select: false
                },
                dislike_icon: {
                    link: icon.dislike,
                    /*当前登录的用户是否选中不喜欢按钮*/
                    is_select: false
                },
            }
        },
        async mounted() {
            /*获取评论的喜欢和不喜欢的次数*/
            let {like, dislike} = JSON.parse(await request("{php echo $this->createMobileUrl('like')}", {
                action: 'get_like_and_dislike',
                user_id: this.user.id,
            }, 'post'));
            this.like = like.length;
            like.forEach(item => {
                /*当前用户存在于这个点赞列表里面*/
                if (item.openid === "{$_W['fans']['openid']}") {
                    this.like_icon = {
                        link: icon.active_like,
                        is_select: true
                    }
                }
            });

            this.dislike = dislike.length;
            dislike.forEach(item => {
                /*当前用户存在于这个点赞列表里面*/
                if (item.openid === "{$_W['fans']['openid']}") {
                    this.dislike_icon = {
                        link: icon.active_dislike,
                        is_select: true
                    }
                }
            });
        },

        methods: {
            //index：1喜欢，0不喜欢
            like_or_dislike(index, user_id) {
                /*如果当前用户选中了喜欢*/
                if (index === 1) {
                    /*判断当前用户是否已经点击过点赞按钮*/
                    if (this.like_icon.is_select) {
                        //如果确实选中，取消点赞
                        this.like_icon = {
                            link: icon.like,
                            is_select: false
                        };
                        /*将数字减1*/
                        this.like -= 1;
                    } else {
                        /*点赞*/
                        this.like_icon = {
                            link: icon.active_like,
                            is_select: true
                        };
                        /*将不喜欢按钮还原*/
                        this.dislike_icon = {
                            link: icon.dislike,
                            is_select: false
                        };

                        if(this.dislike>0){
                            this.dislike -= 1;
                        }
                        /*将数字加1*/
                        this.like += 1;
                    }
                } else {
                    //不喜欢按钮
                    if (this.dislike_icon.is_select) {
                        this.dislike_icon = {
                            link: icon.dislike,
                            is_select: false
                        };
                        /*将数字减1*/
                        this.dislike -= 1;
                    } else {
                        /*点击不喜欢*/
                        this.dislike_icon = {
                            link: icon.active_dislike,
                            is_select: true
                        };
                        /*将喜欢按钮还原*/
                        this.like_icon = {
                            link: icon.like,
                            is_select: false
                        };
                        if(this.like>0){
                            /*将喜欢数字-1*/
                            this.like -= 1;
                        }
                        /*将不喜欢数字+1*/
                        this.dislike += 1;
                    }
                }

                request("{php echo $this->createMobileUrl('like')}", {
                    action: 'like_or_dislike',









                    user_id,
                    like_or_dislike: index,
                    activity_id:"{$_GPC['activity_id']}"
                }, 'post').then(data => {
                    console.log(data);
                })
            },
            send_comment() {
                const index = this.$root.layer.open({
                    type: 1,
                    btns: ['提交'],
                    anim: 'up',
                    style: 'position:fixed; bottom:0; left:0; width: 100%; height: 200px; padding:10px 0; border:none;',
                    content: `<div style="padding: 20px;box-sizing: border-box">
                                  <div style="width: 85%">
                                    <textarea class="text_comment" placeholder="请输入您的观点" type="text" rows="4"></textarea>
                                    <button class="btn btn-success btn-block submit_comment">提交</button>
                                  </div>
                              </div>`,
                    success: () => {
                        $(".submit_comment").click(() => {
                            request("{php echo $this->createMobileUrl('user')}", {
                                action: 'add_comment',
                                activity_id: "{$_GPC['activity_id']}",
                                comment: $(".text_comment").val(),
                            }, 'post').then(data => {
                                this.$parent.layer.open({
                                    content: "发布观点成功", skin: 'msg', time: 2
                                });
                                this.user = JSON.parse(data).user;
                                this.is_play = true;
                                this.$parent.layer.close(index);
                            })
                        })
                    }
                })
            }
        },
    }
</script>
<style>
    .user_setting {
        font-size: 16px;
        color: #808695;
    }

    .user_setting img {
        width: 25px;
        margin-right: 10px;
    }
</style>