<script>
    const comment = {
        props: {
            data: {
                //传入的数据，此对象中应该包含昵称，头像，评论内容
                type: Object,
                default() {
                    return {};
                }
            },
            //当前组件是否是一个评论，false为一个添加组件的按钮，true是一个评论
            is_comment: {
                type: Boolean,
                default: true
            },
            //边框颜色
            color: {
                required: true
            }
        },
        template: `<div>
                        <div :style="{'background':color,'height':'1px'}"></div>
                        <div @click="send_comment" v-if="is_play===false">
                             <img style="display: block;margin: 20px auto" width="30" src="{php echo MODULE_URL.'lib/icon/pinglun.png'}" alt="">
                            <p class="text-center">请说出你的观点</p>
                        </div>
                        <div class="comment" v-else :style="{'background':colorRgba(color, 0.05)}">
                            <p class="user_setting"><img class="img-circle" width="20" :src="user.avatar" alt="">
                                {{user.nickname}}
                            </p>
                            <p style="color:#515a6e">{{user.comment}}</p>
                            <div class="row">
                                <img
                                    @click="like_or_dislike(1,user.id)" width="13"
                                    :src="is_click_like===false ? $parent.icon.like : $parent.icon.active_like"
                                    alt="">
                                <span style="margin-left: 2px">{{like}}</span>
                                <img @click="like_or_dislike(0,user.id)"
                                    style="margin-left: 30px" width="13"
                                    :src="is_click_dislike===false ? $parent.icon.dislike : $parent.icon.active_dislike"
                                    alt="">
                                <span style="margin-left: 2px">{{dislike}}</span>
                            </div>
                        </div>
                      </div>`,
        data() {
            return {
                user: this.data,
                is_play: this.is_comment,
                like: 0,
                dislike: 0,
                //true为选中
                is_click_like: false,
                is_click_dislike: false
            }
        },
        computed:{

        },
        async mounted() {
            /*获取评论的喜欢和不喜欢的次数*/
            let {like, dislike} = JSON.parse(await request("{php echo $this->createMobileUrl('like')}", {
                action: 'get_like_and_dislike',
                user_id: this.user.id,
            }, 'post'));
            this.like = like.length;
            this.dislike = dislike.length;

            like.forEach(item => {
                /*当前用户存在于这个点赞列表里面*/
                if (item.openid === "{$_W['fans']['openid']}") {
                    this.is_click_like = true;
                }
            });

            dislike.forEach(item => {
                /*当前用户存在于这个点赞列表里面*/
                if (item.openid === "{$_W['fans']['openid']}") {
                    this.is_click_dislike = true;
                }
            });
        },
        methods: {
            /*
            * @sHex rgb颜色或argb颜色
            * @alpha 不透明度
            * */
            colorRgba(sHex, alpha){
                // 十六进制颜色值的正则表达式
                let reg = /^#([0-9a-fA-f]{3}|[0-9a-fA-f]{6})$/;
                /* 16进制颜色转为RGB格式 */
                let sColor = sHex.toLowerCase();
                if (sColor && reg.test(sColor)) {
                    if (sColor.length === 4) {
                        let sColorNew = '#';
                        for (let i = 1; i < 4; i += 1) {
                            sColorNew += sColor.slice(i, i + 1).concat(sColor.slice(i, i + 1))
                        }
                        sColor = sColorNew
                    }
                    // 处理六位的颜色值
                    let sColorChange = [];
                    for (let i = 1; i < 7; i += 2) {
                        sColorChange.push(parseInt('0x' + sColor.slice(i, i + 2)))
                    }
                    return 'rgba(' + sColorChange.join(',') + ',' + alpha + ')'
                } else {
                    return sColor
                }
            },
            //index：1喜欢，0不喜欢
            like_or_dislike(index, user_id) {
                switch (index) {
                    /*点击了点赞按钮*/
                    case 1:
                        if (!this.is_click_like) {
                            this.is_click_like = true;
                            this.like += 1
                        } else {
                            return;
                        }

                        if (this.is_click_dislike) {
                            this.is_click_dislike = false;
                            this.dislike -= 1
                        }
                        break;
                    /*点击了不喜欢按钮*/
                    case 0:
                        if (!this.is_click_dislike) {
                            this.is_click_dislike = true;
                            this.dislike += 1;
                        } else {
                            return;
                        }

                        if (this.is_click_like) {
                            this.is_click_like = false;
                            this.like -= 1
                        }
                        break;
                }

                request("{php echo $this->createMobileUrl('like')}", {
                    action: 'like_or_dislike',
                    user_id,
                    like_or_dislike: index,
                    activity_id: "{$_GPC['activity_id']}"
                }, 'post').then(data => {
                    console.log(data);
                })
            },
            send_comment() {
                const index = this.$root.layer.open({
                    type: 1,
                    btns: ['提交'],
                    anim: 'up',
                    style: 'position:fixed; bottom:0; left:0; width: 100%; height: 200px; padding:10px 0; border:none;',
                    content: `<div style="padding: 20px;box-sizing: border-box">
                                  <div style="width: 85%">
                                    <textarea class="text_comment" placeholder="请输入您的观点" type="text" rows="4"></textarea>
                                    <button class="btn btn-success btn-block submit_comment">提交</button>
                                  </div>
                              </div>`,
                    success: () => {
                        $(".submit_comment").click(() => {
                            request("{php echo $this->createMobileUrl('user')}", {
                                action: 'add_comment',
                                activity_id: "{$_GPC['activity_id']}",
                                comment: $(".text_comment").val(),
                            }, 'post').then(data => {
                                this.$parent.layer.open({
                                    content: "发布观点成功", skin: 'msg', time: 2
                                });
                                this.user = JSON.parse(data).user;
                                this.is_play = true;
                                this.$parent.layer.close(index);
                            })
                        })
                    }
                })
            }
        },
    }
</script>
<style>
    .user_setting {
        font-size: 16px;
    }

    .user_setting img {
        width: 25px;
        margin-right: 10px;
    }

    .comment {
        padding: 10px;
        margin-bottom: 10px;
    }
</style>