{template 'component/progress'}

<script>
    const last_argue = {
        props: {
            activity: {
                type: Object,
                required:true
            }
        },
        components:{
            progress_com
        },
        template: `<div>
                        <div class="row">
                            <div :style="{color:activity.square_color,'font-size':'30px'}" class="col-xs-6 text-left progress_text">
                            {{$parent.percent.argue}}%
                            </div>
                            <div :style="{color: activity.no_square_color,'font-size':'30px'}" class="col-xs-6 text-right progress_text">
                            {{$parent.percent.no_argue}}%
                            </div>
                        </div>
                        <progress_com :activity="activity"></progress_com>

                         <div class="advertising row">
                            <a :href="activity.advertising_url">
                                <img class="advertising_img" :src="activity.advertising_img" alt="">
                            </a>
                        </div>

                        <div class="row">
                            <div class="col-xs-6" >
                                <p :style="{color:activity.square_color}" class="text-center progress_text">
                                {{activity.square}}
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p :style="{color: activity.no_square_color}" class="text-center progress_text">
                                {{activity.no_square}}
                                </p>
                            </div>
                        </div>
                   </div>`,
    }
</script>
<style>
    .progress_text {
        font-size: 15px;
        font-weight: bold;
        font-family: 微软雅黑, serif;
        margin-bottom: 10px;
    }

    .advertising {
        background: #fff;
        box-shadow: 1px 1px 5px #d2d2d2;
        margin: 0 2px 10px 2px;
        border-radius: 5px;
        overflow: hidden;
    }

    .advertising_img {
        width: 100%
    }
</style>