<script>
    const last_argue = {
        template: `<div>
                        <div class="row">
                            <div :style="{color:$parent.activity.square_color,'font-size':'30px'}" class="col-xs-6 text-left progress_text">
                            {{$parent.percent.argue}}%
                            </div>
                            <div :style="{color: $parent.activity.no_square_color,'font-size':'30px'}" class="col-xs-6 text-right progress_text">
                            {{$parent.percent.no_argue}}%
                            </div>
                        </div>
                        <div class="progress">
                              <div  class="progress-bar"
                              :style="{'width':$parent.percent.argue+'%','background':$parent.activity.square_color}"></div>
                              <div class="progress-bar"
                              :style="{'width':$parent.percent.no_argue+'%','background':$parent.activity.no_square_color}"></div>
                        </div>

                         <div class="advertising row">
                            <a href="{$activity['advertising_url']}">
                                <img class="advertising_img" src="{php echo tomedia($activity['advertising_img'])}" alt="">
                            </a>
                        </div>

                        <div class="row">
                            <div class="col-xs-6" >
                                <p :style="{color:$parent.activity.square_color}" class="text-center progress_text">
                                {{$parent.activity.square}}
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p :style="{color: $parent.activity.no_square_color}" class="text-center progress_text">
                                {{$parent.activity.no_square}}
                                </p>
                            </div>
                        </div>
                   </div>`,
    }
</script>
<style>
    .progress {
        height: 50px;
        box-shadow: 1px 1px 10px #eee;

    }

    .progress_text {
        font-size: 15px;
        font-weight: bold;
        font-family: 微软雅黑, serif;
        margin-bottom: 10px;
    }

    .advertising {
        background: #fff;
        box-shadow: 1px 1px 5px #d2d2d2;
        margin: 0 2px 10px 2px;
        padding: 3px;
        border-radius: 5px;
    }

    .advertising_img {
        width:100%
    }
</style>